/* line 9, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\000039}}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier';
  color: #333333;
}
/* line 16, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000316}}
.hidden {
  display: none;
}
/* line 20, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000320}}
.clearfix {
  clear: both;
}
/* line 24, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000324}}
.score-bar {
  border: 1px solid #a9a9a9;
  background-color: #d3d3d3;
  padding: 2px;
}
/* line 29, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000329}}
.score-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 34, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000334}}
.score-bar ul li.score-item {
  border: 1px solid #a9a9a9;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}
/* line 44, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000344}}
.card {
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  width: 160px;
  vertical-align: top;
  /*margin-right: 2px;*/
  padding: 5px;
}
/* line 54, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000354}}
.card-name {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 60, C:\Users\Dmytro\Documents\NetBeansProjects\GameProto\public_html\less\game.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Dmytro\/Documents\/NetBeansProjects\/GameProto\/public_html\/less\/game\.less}line{font-family:\0000360}}
.card-description {
  color: #666666;
}


/* SVOVIK1 */

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.pa {
	position: absolute;
}
.pr {
	position: relative;
}

/*Card Progress*/
.w45 {
	width: 45%;
	height: 10px;
}
.w10 {
	width: 10%;
}
.bar {
	width: 100%;
	margin-bottom: 2px;
	overflow: hidden;
}
.bar .progr {
	height: 10px;
	width: 100%;
	top: 0;
}
.bar-1 .progr {
	right: 0;
}
.bar-2 .progr {
	left: 0;
}
.bar .glyphicon {
	font-size: 10px;
}
.score-bar ul {
	margin-top: 5px;
}
.controls {
	/*clear: both;*/
	text-align: center;
}
.game-state-dioxide.badge {
	background-color: #000;
}
.game-over.jumbotron {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
	text-align: center;
}
@media (max-width:768px) {
		.controls .btn-lg {
    		border-radius: 3px;
    		font-size: 12px;
    		line-height: 1.5;
    		padding: 5px 10px;
		}
		.score-bar.well {
			padding-left: 0;
		}
}
@media (max-width:480px) {
		.controls {
    		clear: both;
    		margin: 5px;
		}
		.controls .btn {
			padding: 1px 5px;
		}
}
.game-disaster {
	display: none;
}
.game-disaster-name {
	text-align: center;
	margin-top: 0;
}

/*  Start Of NewCards  */
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.rating-desc .progress { margin-bottom: 5px;}
.rating-desc .progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.rating-desc .dioxide .progress {margin-bottom: 0;}
.rating-desc .progress .progress-bar { width: 100%;}
/*  End Of NewCards  */

.game-move-number.badge.active {
	background-color: #428BCA;
}

/*Temporary hide description, until delete it from function*/
.card-description {
	display: none;
}

.game-screen {display:none;}
.avatar {
	width: 141px;
	height: 141px;
	margin: 0 auto 20px auto;
}
.avatar.active {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	border-color: #66AFE9;
}
.user-info .avatar {
	margin-bottom: 0;
	width: 70px;
	height: 70px;
	background-size: 100% 100% !important;
}
.avatar.av-1 {
	background: url(../static/images/av1.png) no-repeat center center;
}
.avatar.av-2 {
	background: url(../static/images/av2.png) no-repeat center center;
}
.avatar.av-3 {
	background: url(../static/images/av3.png) no-repeat center center;
}
.avatar.av-4 {
	background: url(../static/images/av4.png) no-repeat center center;
}
.avatar.av-5 {
	background: url(../static/images/av5.png) no-repeat center center;
}
.avatar.av-6 {
	background: url(../static/images/av6.png) no-repeat center center;
}
.select-country {
	display: inline-block;
}
.dropdown ul li {
	text-align: left;
}
.flag {
	width: 16px;
	height: 11px;
	display: inline-block;
	margin-right: 5px;
}
.flag.uk {
	background: url(../static/images/uk-icon.png);
}
.flag.ru {
	background: url(../static/images/ru-icon.png);
}
.flag.pl {
	background: url(../static/images/pl-icon.png);
}
.country {
	margin-left: 10px;
}
.input-group.username {
	margin-bottom: 10px;
}